@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: rgb(0, 0, 0);
    --bgColor: rgb(255, 255, 255);
    display: grid;
    align-content: center;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}

h1 {
    text-align: center;
}

.text ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
}

/* title descr */
.text ul li .title,
.text ul li .descr {
    position: relative;
    padding-inline: 1.5rem;
}
.text ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
}
.text ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
}

.headline {
    font-weight: 510;
}

