@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}


.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #380046;
}

.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.navbar-brand span:hover {
  animation: colorChange 2s
}

@keyframes colorChange {
  0% {color: #ffffff}
  5% {color: rgb(192, 193, 202)}
  10% {color: rgb(173, 175, 209)}
  15% {color: rgb(159, 162, 203)}
  20% {color: rgb(145, 147, 196)}
  25% {color: rgb(130, 133, 190)}
  30% {color: rgb(115, 117, 184)}
  35% {color: rgb(96, 98, 167)}
  40% {color: rgb(78, 80, 150)}
  45% {color: rgb(64, 66, 137)}
  50% {color: rgb(50, 52, 124)}
  50% {color: rgb(50, 52, 124)}
  55% {color: rgb(64, 66, 137)}
  60% {color: rgb(78, 80, 150)}
  65% {color: rgb(96, 98, 167)}
  70% {color: rgb(115, 117, 184)}
  75% {color: rgb(130, 133, 190)}
  80% {color: rgb(145, 147, 196)}
  85% {color: rgb(159, 162, 203)}
  90% {color: rgb(173, 175, 209)}
  95% {color: rgb(192, 193, 202)}
  100% {color: #ffffff}
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.slider_section .detail-box h1:hover {
  animation: colorChange 2s
}

@keyframes colorChange {
  0% {color: #ffffff}
  5% {color: rgb(192, 193, 202)}
  10% {color: rgb(173, 175, 209)}
  15% {color: rgb(159, 162, 203)}
  20% {color: rgb(145, 147, 196)}
  25% {color: rgb(130, 133, 190)}
  30% {color: rgb(115, 117, 184)}
  35% {color: rgb(96, 98, 167)}
  40% {color: rgb(78, 80, 150)}
  45% {color: rgb(64, 66, 137)}
  50% {color: rgb(50, 52, 124)}
  50% {color: rgb(50, 52, 124)}
  55% {color: rgb(64, 66, 137)}
  60% {color: rgb(78, 80, 150)}
  65% {color: rgb(96, 98, 167)}
  70% {color: rgb(115, 117, 184)}
  75% {color: rgb(130, 133, 190)}
  80% {color: rgb(145, 147, 196)}
  85% {color: rgb(159, 162, 203)}
  90% {color: rgb(173, 175, 209)}
  95% {color: rgb(192, 193, 202)}
  100% {color: #ffffff}
}


.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}



.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}
