@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: rgb(255, 255, 255);
    --bgColor: rgb(0, 0, 0);
    display: grid;
    align-content: center;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}

h1 {
    text-align: center;
}

.timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2);
}


/* title descr */
.timeline ul li .title,
.timeline ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
}
.timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
}
.timeline ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
}

/* shadows */
.timeline ul li .title::before,
.timeline ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}
.timeline ul li .title::before {
    bottom: calc(100% + 0.125rem);
}

.timeline ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

